body{
  background-color: #86ac8d;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #f6eee1 ;
}

.container {
  padding: 20px;
  border-style:double;
  border-width: 10px;
  color: #f6eee1;
  border-radius: 10px;

}